/* Set var in root */
:root {
    --bkgdcolor: #bab19c;
    --logocenter: #412354;
    --logochoc: #402312;
    --logorasp: #9e1460;
    --darkberry: #51082f;
    flex: 2 1 auto;
}

/* if there's a selection, such as click or highlight put in a ::selection */
::selection {
    color: black;
    background-color: goldenrod;
}

html {
    font-size: 10px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: var(--logochoc);
    background-color: var(--bkgdcolor);
}


p { 
    color: var(--logochoc);
    font-size: 1.75rem;
    line-height: 1.85rem;
    margin: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .625rem;
    color: var(--logocenter);
    line-height: 1.1;
    margin-left: 1.1rem;
}

h1 {
    margin-bottom: .825rem;
    color: var(--logocenter);
    font-weight: bolder;
    line-height: 1.5;
    font-size: 3.5rem;
}

h2 {
    margin-bottom: .625rem;
    color: var(--logochoc);
    font-weight: bold;
    line-height: 1.25;
    font-size: 2.75rem;
}

h3 {
    margin-bottom: .625rem;
    color: var(--darkberry);
    font-weight: bold;
    line-height: 1.1;
    font-size: 2.25rem;
}

h4 {
    margin-bottom: .625rem;
    color:var(--logorasp);
    line-height: 1.1;
    font-size: 2.0rem;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 2.5rem;
    gap: 3.5rem;
}

ul li{
    display: inline-flex;
    margin: auto auto;
}

header {
    width: 96%;
    margin: 1 auto;
    padding: 2.5rem;
    text-align: center;
}

header h1.page-title {
    font: 3.25rem;
}

header navigation {
    padding-top: 20px;
    margin-right: 25px;
    float: right;
    font-size: 2.25rem;
}

/* hero is same as background/header img */
.hero {
    height: 500px;
    width: auto;
    margin-bottom: 25px;
    background-image: url("..assets/images/hero_header.png");
}
.logo{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    width: 35%;
}

.row {
    flex: 1 0 100%;
    margin-bottom: 1.5rem;
}

.justify-left {
    justify-content: left;
}

/* h3:section-header {
    display: flex;
    flex-direction: row;
} */

.textbox {
    line-height: 1.5;
    padding-left: 1rem;
}
.textbox li{
    line-height: 1.5;
    display: block;
}

footer {
    width: 75%;
    margin: 1 auto;
    padding: 2.5rem;
    text-align: center;
}

/* flex needs @media */
@media screen and (min-width: 768px) {
    .column {
        flex: 0 0 50%;
        max-width: 80%;
        padding: 1.5rem;
        transition: linear;
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 992px) {
    header {
        width: 75%;    
    }
}