/* Set var in root */
:root {
    --bkgdcolor: #bab19c;
    --logocenter: #412354;
    --logochoc: #402312;
    --logorasp: #9e1460;
    --darkberry: #51082f;
    flex: 2 1 auto;
    font-size: 10px;
}

/* if there's a selection, such as click or highlight put in a ::selection */
::selection {
    color: black;
    background-color: goldenrod;
}

/* hero is same as background/header img */
.hero {
    max-height: 500px;    
    width: auto;
    margin-bottom: 25px;
    background-image: url("../assets/images/hero_header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: black;
    background-color: var(--bkgdcolor);
}

p { 
    color: black;
    font-size: 1.75rem;
    line-height: 1.85rem;
    margin: auto;
    padding-bottom: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .625rem;
    color: var(--logocenter);
    line-height: 1.1;
    margin-left: 1.5rem;
}

h1 {
    margin-bottom: .825rem;
    color: var(--logocenter);
    font-weight: bolder;
    line-height: 1.5;
    font-size: 3.5rem;
}

h2 {
    margin-bottom: .625rem;
    color: black;
    font-weight: bold;
    line-height: 1.25;
    font-size: 2.75rem;
}

h3 {
    color: var(--darkberry);
    font-weight: bold;
    line-height: 1.1;
    font-size: 2.25rem;
    text-align: center;
}

h4 {
    margin-bottom: .625rem;
    color:var(--logorasp);
    line-height: 1.1;
    font-size: 2.0rem;
    padding-left: -2rem;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 3rem;
    gap: 2.5rem;
    transition: flex-basis 500ms linear;
}

ul li{
    display: inline-flex;
    margin: auto auto;
    line-height: 1.85rem;
}

header {
    width: 96%;
    margin: 1 auto;
    padding: 2.5rem;
    text-align: center;
}

header h1.page-title {
    font: 3.25rem;
}

header navigation {
    padding-top: 20px;
    margin-right: 50px;
    float: right;
    /* float:inline-end */
    font-size: 2.25rem;
}

.logo{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    width: 35%;
}

.row {
    flex: 1 0 100%;
    margin-bottom: .5rem;
}

.justify-left {
    justify-content: left;
    margin-bottom: 1rem;
}

.textbox {
    line-height: 1.5;
    padding-left: 1rem;
}

.textbox li{
    line-height: 1.5;
    display: block;
}

.imgbox li{
    display: inline;
    padding: 2.5rem;
    margin-top: 2rem;
}

.imgbox li:hover{
    flex: 0 2 1;
    cursor:pointer;
}

.devport li{
    display: inline-flex;
}

footer {
    width: 75%;
    margin: 1 auto;
    padding: 2.5rem;
    text-align: center;
}

/* flex needs @media */
@media screen and (min-width: 768px) {
    .column {
        flex: 0 0 50%;
        max-width: 80%;
        padding: 1.5rem;
        transition: linear;
        margin-bottom: 2.5rem;
    }
    .column .devport {
        flex-wrap: wrap;
        flex-grow: 1;
    }
}

@media screen and (min-width: 768px) {
    header {
        width: 75%;    
    }
}

@media screen and (max-width: 1600px){
    .column {
        width: 75%;
    }
}
